.section {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 2rem;

  max-width: 1200px;
  margin: 0 auto;
}


@media (max-width: 1060px) {
  .container {
    display: flex;
    flex-direction: column;
  }
}