.section {
  display: flex;
  justify-content: center;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
  gap: 2rem;

  max-width: 1200px;
  margin: 0 auto;
}
