.titleParagraph {
  line-height: 0.4;
  letter-spacing: -2px;
}

h1 {
  font-size: 60px;
  font-weight: 900;
}

.comH1 {
  color: var(--title-color);
}

.limitH1 {
  background: var(--text-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.paragraph {
  color: var(--secondary-color);
  font-size: 20px;
}

.buttonContainer {
  display: flex;
  gap: 20px;
  align-items: center;
}

.buttonContainer button {
  font-size: 16px;
  width: 160px;
  border-radius: 10px;
  font-weight: 500;
  padding: 10px;
}

.registerBtn {
  background-image: var(--primary-gradient);
  color: white;
  border: none;
}

.loginBtn {
  background-color: white;
  border: solid #e0e5eb 0.5px;
  color: var(--title-color);
}
