.container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  flex: 1;
  border: 1px solid #c2e6d2;
  background-color: #e4f3eb;
  padding: 20px;
  border-radius: 18px;

  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.04), 0 2px 4px rgba(0, 0, 0, 0.03);
}

.left {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.left > span {
  font-weight: 500;
  font-size: 14px;
  color: #66c78f;
}

.left > h2 {
  margin: 0;
  font-size: 30px;
  color: #25b15f;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
}
