.status {
  position: absolute;

  border-radius: 50%;
  border: 2px solid white;
}

.online {
  background-color: #22c55e;
}

.offline {
  background-color: #9ca3af;
}

.blocked {
  background-color: #d1d5db;
  border-color: #f3f4f6;
}
