.searchInput {
  border: none;
  color: #65758b;
  font-weight: 450;
  font-size: 15px;
  background-color: transparent;
}

.searchInput:focus {
  outline: none;
}

.searchbar {
  display: flex;
  cursor: text;
  flex-direction: row;
  padding: 10px;
  gap: 8px;
  align-content: center;
  background-color: #eff2f5;
  border-radius: 12px;
  border: solid 3px transparent;
}

.searchbar:focus-within {
  border: solid 3px #1dafa1;
}

.searchIcon {
  stroke-width: 2px;
  color: #65758b;
}
